nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.navbar-right ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding-left: 0;
}

.navbar-left ul li a,
.navbar-right ul li {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

/* Post List */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 20px;
}

.button {
  background: var(--hospital-green);
  border-radius: 50px;
  border: 0;
}

@media (max-width: 640px) {
  .navbar-left ul {
    display: none;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }

  .navbar-right {
    width: 100%;
  }
}

@media (min-width: 641px) {
  .navbar-right {
    width: 20%;
  }
}
